@addTagHelper *, WeatherData
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <vc:taipei-weather></vc:taipei-weather>
        <h1 class="display-4">Welcome</h1>
        <vc:weather-block zone-name="新北市"></vc:weather-block><vc:weather-block zone-name="桃園市"></vc:weather-block>       
        <vc:weather-block zone-name="臺中市"></vc:weather-block><vc:weather-block zone-name="臺南市"></vc:weather-block>
        <vc:weather-block zone-name="高雄市"></vc:weather-block>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
